!!! 5
%html
  %head
    %meta(content="text/html;" charset="UTF-8" http-equiv="Content-Type" )
  %body
    %h1 Welcome to MyFlix #{@user.full_name}!
    %p We are glad you chose MyFlix, and hope you enjoy the service.
    %p Have a great day!