---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000341&card[exp_month]=9&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_HgzjcEX1e2EMzGsihsPjIZXU00AthWlTdD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-09-09'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1FQfLgFwnVEodejJSpTsn2Rh",
          "object": "token",
          "card": {
            "id": "card_1FQfLfFwnVEodejJcy6L4XVA",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2020,
            "fingerprint": "sVryBq22RvguIhAp",
            "funding": "credit",
            "last4": "0341",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "107.72.178.177",
          "created": 1570389896,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 06 Oct 2019 19:24:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=ahmed_cummings%40volkmanschoen.name&source=tok_1FQfLgFwnVEodejJSpTsn2Rh
    headers:
      Authorization:
      - Bearer sk_test_HgzjcEX1e2EMzGsihsPjIZXU00AthWlTdD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-09-09'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_FwYSLDFijmCYjm",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1570389896,
          "currency": null,
          "default_source": "card_1FQfLfFwnVEodejJcy6L4XVA",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "ahmed_cummings@volkmanschoen.name",
          "invoice_prefix": "EC82979C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1FQfLfFwnVEodejJcy6L4XVA",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_FwYSLDFijmCYjm",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 9,
                "exp_year": 2020,
                "fingerprint": "sVryBq22RvguIhAp",
                "funding": "credit",
                "last4": "0341",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_FwYSLDFijmCYjm/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_FwYSLDFijmCYjm/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_FwYSLDFijmCYjm/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Sun, 06 Oct 2019 19:24:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=%23%3CUser%3A0x00007fada8af6330%3E&items[0][plan]=plan_FvLaEBqzjQ9ZTR&expand[0]=latest_invoice.payment_intent
    headers:
      Authorization:
      - Bearer sk_test_HgzjcEX1e2EMzGsihsPjIZXU00AthWlTdD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-09-09'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: #\u003CUser:0x00007fada8af6330\u003E",
            "param": "customer",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sun, 06 Oct 2019 19:24:57 GMT
recorded_with: VCR 5.0.0
