---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_HgzjcEX1e2EMzGsihsPjIZXU00AthWlTdD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-09-09'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1FQfLXFwnVEodejJVxu80HeY",
          "object": "token",
          "card": {
            "id": "card_1FQfLXFwnVEodejJnr7SZLuL",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2020,
            "fingerprint": "0B1oaDWGAwduWyjY",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "107.72.178.177",
          "created": 1570389887,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 06 Oct 2019 19:24:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=anastasia_vandervort%40prohaska.co&source=tok_1FQfLXFwnVEodejJVxu80HeY
    headers:
      Authorization:
      - Bearer sk_test_HgzjcEX1e2EMzGsihsPjIZXU00AthWlTdD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-09-09'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_FwYSHEUiU2io5Q",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1570389888,
          "currency": null,
          "default_source": "card_1FQfLXFwnVEodejJnr7SZLuL",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "anastasia_vandervort@prohaska.co",
          "invoice_prefix": "A87E0C4B",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1FQfLXFwnVEodejJnr7SZLuL",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_FwYSHEUiU2io5Q",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 9,
                "exp_year": 2020,
                "fingerprint": "0B1oaDWGAwduWyjY",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_FwYSHEUiU2io5Q/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_FwYSHEUiU2io5Q/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_FwYSHEUiU2io5Q/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Sun, 06 Oct 2019 19:24:48 GMT
recorded_with: VCR 5.0.0
