---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=9&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_HgzjcEX1e2EMzGsihsPjIZXU00AthWlTdD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-09-09'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1FQfLVFwnVEodejJbYNZHrtS",
          "object": "token",
          "card": {
            "id": "card_1FQfLVFwnVEodejJw3S6B7f3",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2020,
            "fingerprint": "EETD89zy6DOtH7Uf",
            "funding": "credit",
            "last4": "0002",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "107.72.178.177",
          "created": 1570389885,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 06 Oct 2019 19:24:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&currency=usd&description=MyFlix+subscription&source=tok_1FQfLVFwnVEodejJbYNZHrtS
    headers:
      Authorization:
      - Bearer sk_test_HgzjcEX1e2EMzGsihsPjIZXU00AthWlTdD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-09-09'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1FQfLWFwnVEodejJhg7JfpvU",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }
  recorded_at: Sun, 06 Oct 2019 19:24:46 GMT
recorded_with: VCR 5.0.0
