nav#top-header
  background: #B9090B
  a
    color: white
  h1
    font-size: 20px
    padding-bottom: 0

  #nav_menu
    .navbar-nav
      a
        margin-right: 0.8rem
        text-transform: uppercase

    .dropdown.show
      .dropdown-menu
        a
          color: black
          &:hover
            background: red

