%article.review
  %li.row
    .col-sm-2
      %p
        = link_to review.video.title, video_path(review.video)
      - if review.rating
        %col Review: #{review.rating} / 5
    .col-sm-8
      %p= review.text
